<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoPulse</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <h1>CryptoPulse <%= data %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero voluptatum error! Sit vitae reprehenderit impedit natus illum saepe ab unde, obcaecati ut dolor, magni nostrum quo, blanditiis maiores laudantium.</p>
    <div>
        <th>Data</th>
        <td><%= data %></td>
        
    </div>
</body>
</html>